:root{
    --sitagaki-color:red;
}

/* これでグラデーションをつける filter: blur(20px); */

.sitagaki{
    position: absolute;
    top: 10px;
    left: 10px;
    opacity:0.8;
    width: 2000px;
}

.hid{
    overflow: hidden;
}

.line{
    border-style: solid;
    border-color: #000;
    border-radius: 50%;
}

/*鼻*/
.nose-1{
    position: absolute;
    top: 606px;
    left: 1187px;
    width: 31px;
    height: 30px;
    border-radius: 50%;
}
.nose-1 div{
    position: absolute;
    top: -11px;
    left: 17px;
    width: 20px;
    height: 20px;
    border-width: 5px;
    box-shadow: -3px 3px;
    border-radius: 50%;
}

/*下あご 左*/
.face-ago-left{
    position: absolute;
    top: -920px;
    left: 925px;
    width: 518px;
    height: 2076px;
    border-radius: 50%;
}
.face-ago-left .line{
    /* background-color: #ffffe5; */
    position: absolute;
    top: -217px;
    left: -550px;
    width: 1695px;
    height: 2076px;
    border-width: 5px;
}


/*下あご 右*/
.face-ago-right{
    position: absolute;
    top: 739px;
    left: 1214px;
    width: 676px;
    height: 226px;
    border-radius: 50%;
}
.face-ago-right .line{
    /* background-color: #ffffe5; */
    position: absolute;
    top: -246px;
    left: -429px;
    width: 850px;
    height: 438px;
    border-width: 5px;
    transform: rotate(116deg);
}

/*頬 右下 1*/
.face-hohoright-1{
    position: absolute;
    top: 546px;
    left: 1255px;
    width: 214px;
    height: 258px;
    border-radius: 50%;
}

.face-hohoright-1 .line{
    /*background-color:#ffffe5;*/
    position: absolute;
    top: -41px;
    left: -8px;
    width: 200px;
    height: 323px;
    border-width: 5px;
}

/*頬 右下 2*/
.face-hohoright-2{
    position: absolute;
    top: 382px;
    left: 1314px;
    width: 129px;
    height: 356px;
    border-radius: 50%;
    transform: rotate(-5deg);
}

.face-hohoright-2 .line{
    position: absolute;
    top: -107px;
    left: 109px;
    width: 200px;
    height: 506px;
    border-width: 5px;
    transform: rotate(-12deg);
}

/*首 1*/
.neck-1{
    position: absolute;
    top: 903px;
    left: 1063px;
    width: 175px;
    height: 157px;
    border-radius: 50%;
    transform: rotate(55deg);
}

.neck-1 .line{
    position: absolute;
    top: 67px;
    left: -54px;
    width: 339px;
    height: 122px;
    border-width: 5px;
    transform: rotate(-12deg);
}

/*首 2*/
.neck-2{
    position: absolute;
    top: 839px;
    left: 1398px;
    width: 9px;
    height: 10px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.neck-2 .line{
    position: absolute;
    top: -11px;
    left: -40px;
    width: 47px;
    height: 122px;
    border-width: 5px;
    transform: rotate( 0deg);
}

/*前髪 その1*/
.hair-front1{
    position: absolute;
    top: 254px;
    left: 743px;
    width: 583px;
    height: 303px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.hair-front1 .line{
    position: absolute;
    top: -140px;
    left: -25px;
    width: 638px;
    height: 293px;
    border-width: 5px;
    transform: rotate(-5deg);
}

/*前髪 その2*/
.hair-front2{
    position: absolute;
    top: 157px;
    left: 539px;
    width: 283px;
    height: 220px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.hair-front2 .line{
    position: absolute;
    top: -124px;
    left: 111px;
    width: 659px;
    height: 418px;
    border-width: 5px;
    transform: rotate(21deg);
}

/*前髪 その3*/
.hair-front3{
    position: absolute;
    top: 338px;
    left: 714px;
    width: 163px;
    height: 385px;
    border-radius: 50%;
    transform: rotate(-23deg);
}
.hair-front3 .line{
    position: absolute;
    top: -49px;
    left: -1176px;
    width: 2059px;
    height: 418px;
    border-width: 5px;
    transform: rotate(107deg);
}

/*前髪 その4*/
.hair-front4{
    position: absolute;
    top: 331px;
    left: 775px;
    width: 156px;
    height: 668px;
    border-radius: 50%;
    transform: rotate(-38deg);
}
.hair-front4 .line{
    position: absolute;
    top: 624px;
    left: -605px;
    width: 1857px;
    height: 448px;
    border-width: 5px;
    transform: rotate(77deg);
}

/*前髪 その5*/
.hair-front5{
    position: absolute;
    top: 153px;
    left: 681px;
    width: 180px;
    height: 668px;
    border-radius: 50%;
    transform: rotate(-32deg);
}
.hair-front5 .line{
    position: absolute;
    top: 547px;
    left: -530px;
    width: 1857px;
    height: 771px;
    border-width: 5px;
    transform: rotate(-101deg);
}

/*前髪 その6*/
.hair-front6{
    position: absolute;
    top: 153px;
    left: 750px;
    width: 397px;
    height: 668px;
    border-radius: 50%;
}
.hair-front6 .line{
    position: absolute;
    top: -591px;
    left: -268px;
    width: 1857px;
    height: 771px;
    border-width: 5px;
}

/*前髪 その7*/
.hair-front7{
    position: absolute;
    top: 193px;
    left: 1147px;
    width: 296px;
    height: 668px;
    border-radius: 50%;
    transform: rotate(-21deg);
}
.hair-front7 .line{
    position: absolute;
    top: -31px;
    left: -1214px;
    width: 1857px;
    height: 771px;
    border-width: 5px;
    transform: rotate(19deg);
}

/*前髪 その8*/
.hair-front8{
    position: absolute;
    top: 213px;
    left: 699px;
    width: 259px;
    height: 68px;
    border-radius: 50%;
    transform: rotate(24deg);
}
.hair-front8 .line{
    position: absolute;
    top: -34px;
    left: 0px;
    width: 340px;
    height: 71px;
    border-width: 5px;
    transform: rotate(-4deg);
}

/*前髪 その9*/
.hair-front9{
    position: absolute;
    top: 121px;
    left: 796px;
    width: 503px;
    height: 83px;
    border-radius: 50%;
    transform: rotate(18deg);
}
.hair-front9 .line{
    position: absolute;
    top: 11px;
    left: -12px;
    width: 584px;
    height: 271px;
    border-width: 5px;
    transform: rotate(-7deg);
}

/*前髪 その10*/
.hair-front10{
    position: absolute;
    top: 73px;
    left: 963px;
    width: 344px;
    height: 83px;
    border-radius: 50%;
    transform: rotate(35deg);
}
.hair-front10 .line{
    position: absolute;
    top: 12px;
    left: -55px;
    width: 515px;
    height: 271px;
    border-width: 5px;
    transform: rotate(10deg);
}

/*前髪 その11*/
.hair-front11{
    position: absolute;
    top: 318px;
    left: 1185px;
    width: 344px;
    height: 83px;
    border-radius: 50%;
    transform: rotate(59deg);
}
.hair-front11 .line{
    position: absolute;
    top: 24px;
    left: -87px;
    width: 518px;
    height: 114px;
    border-width: 5px;
    transform: rotate(-1deg);
}

/*前髪 その12*/
.hair-front12{
    position: absolute;
    top: 492px;
    left: 1336px;
    width: 165px;
    height: 554px;
    border-radius: 50%;
    transform: rotate(6deg);
}
.hair-front12 .line{
    position: absolute;
    top: -61px;
    left: -95px;
    width: 237px;
    height: 629px;
    border-width: 5px;
    transform: rotate(-5deg);
}

/*前髪 その13*/
.hair-front13{
    position: absolute;
    top: 459px;
    left: 1300px;
    width: 229px;
    height: 593px;
    border-radius: 50%;
    transform: rotate(9deg);
}
.hair-front13 .line{
    position: absolute;
    top: -25px;
    left: -35px;
    width: 242px;
    height: 629px;
    border-width: 5px;
    transform: rotate(-2deg);
}

/*前髪 その14*/
.hair-front14{
    position: absolute;
    top: 869px;
    left: 1030px;
    width: 229px;
    height: 267px;
    border-radius: 50%;
    transform: rotate(-40deg);
}
.hair-front14 .line{
    position: absolute;
    top: -210px;
    left: -55px;
    width: 127px;
    height: 465px;
    border-width: 5px;
    transform: rotate(-5deg);
}

/*前髪 その15*/
.hair-front15{
    position: absolute;
    top: 539px;
    left: 554px;
    width: 402px;
    height: 603px;
    border-radius: 50%;
    transform: rotate(-36deg);
}
.hair-front15 .line{
    position: absolute;
    top: -151px;
    left: 304px;
    width: 495px;
    height: 1162px;
    border-width: 5px;
    transform: rotate(-18deg);
}

/*前髪 その16*/
.hair-front16{
    position: absolute;
    top: 785px;
    left: 989px;
    width: 342px;
    height: 343px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.hair-front16 .line{
    position: absolute;
    top: 166px;
    left: -371px;
    width: 608px;
    height: 362px;
    border-width: 5px;
    transform: rotate(43deg);
}

/*サイド髪 その1*/
.hair-side-1{
    position: absolute;
    top: 965px;
    left: 852px;
    width: 428px;
    height: 165px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.hair-side-1 .line{
    position: absolute;
    top: -36px;
    left: -56px;
    width: 321px;
    height: 710px;
    border-width: 5px;
    transform: rotate(-5deg);
}

/*サイド髪 その2*/
.hair-side-2{
    position: absolute;
    top: 890px;
    left: 673px;
    width: 381px;
    height: 165px;
    border-radius: 50%;
    transform: rotate(55deg);
}
.hair-side-2 .line{
    position: absolute;
    top: -218px;
    left: -32px;
    width: 321px;
    height: 837px;
    border-width: 5px;
    transform: rotate(92deg);
}

/*サイド髪 その3*/
.hair-side-3{
    position: absolute;
    top: 1008px;
    left: 851px;
    width: 181px;
    height: 121px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.hair-side-3 .line{
    position: absolute;
    top: -123px;
    left: -221px;
    width: 321px;
    height: 585px;
    border-width: 5px;
    transform: rotate(-36deg);
}

/*サイド髪 その4*/
.hair-side-4{
    position: absolute;
    top: 388px;
    left: 594px;
    width: 129px;
    height: 719px;
    border-radius: 50%;
    transform: rotate(-39deg);
}
.hair-side-4 .line{
    position: absolute;
    top: -3px;
    left: 52px;
    width: 474px;
    height: 1338px;
    border-width: 5px;
    transform: rotate(-8deg);
}

/*サイド髪 その5*/
.hair-side-5{
    position: absolute;
    top: 110px;
    left: 413px;
    width: 225px;
    height: 409px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.hair-side-5 .line{
    position: absolute;
    top: 47px;
    left: 99px;
    width: 174px;
    height: 445px;
    border-width: 5px;
    transform: rotate(5deg);
}

/*サイド髪 その6*/
.hair-side-6{
    position: absolute;
    top: 1035px;
    left: 700px;
    width: 428px;
    height: 92px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.hair-side-6 .line{
    position: absolute;
    top: -107px;
    left: -95px;
    width: 321px;
    height: 710px;
    border-width: 5px;
    transform: rotate(0deg);
}

/*サイド髪 その7*/
.hair-side-7{
    position: absolute;
    top: 811px;
    left: 641px;
    width: 227px;
    height: 319px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.hair-side-7 .line{
    position: absolute;
    top: -107px;
    left: -240px;
    width: 321px;
    height: 710px;
    border-width: 5px;
    transform: rotate(-29deg);
}

/*サイド髪 その8*/
.hair-side-8{
    position: absolute;
    top: 488px;
    left: 417px;
    width: 350px;
    height: 437px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.hair-side-8 .line{
    position: absolute;
    top: -188px;
    left: 216px;
    width: 384px;
    height: 1003px;
    border-width: 5px;
    transform: rotate(-40deg);
}

/*サイド髪 その9*/
.hair-side-9{
    position: absolute;
    top: 958px;
    left: 562px;
    width: 170px;
    height: 181px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.hair-side-9 .line{
    position: absolute;
    top: -218px;
    left: -402px;
    width: 458px;
    height: 710px;
    border-width: 5px;
    transform: rotate(57deg);
}

/*サイド髪 その10*/
.hair-side-10{
    position: absolute;
    top: -26px;
    left: 1268px;
    width: 264px;
    height: 627px;
    border-radius: 50%;
    transform: rotate(-33deg);
}
.hair-side-10 .line{
    position: absolute;
    top: 94px;
    left: -609px;
    width: 1059px;
    height: 554px;
    border-width: 5px;
    transform: rotate(98deg);
}

/*サイド髪 その11*/
.hair-side-11{
    position: absolute;
    top: 488px;
    left: 1493.5px;
    width: 455px;
    height: 727px;
    border-radius: 50%;
    transform: rotate(-39deg);
}
.hair-side-11 .line{
    position: absolute;
    top: -285px;
    left: 262px;
    width: 529px;
    height: 971px;
    border-width: 5px;
    transform: rotate(22deg);
}

/*サイド髪 その12*/
.hair-side-12{
    position: absolute;
    top: 503px;
    left: 1539px;
    width: 348px;
    height: 634px;
    border-radius: 50%;
    transform: rotate(-18deg);
}
.hair-side-12 .line{
    position: absolute;
    top: -326px;
    left: 18px;
    width: 868px;
    height: 1135px;
    border-width: 5px;
    transform: rotate(2deg);
}

/*サイド髪 その13*/
.hair-side-13{
    position: absolute;
    top: 618px;
    left: 1598px;
    width: 364px;
    height: 517px;
    border-radius: 50%;
    transform: rotate(-18deg);
}
.hair-side-13 .line{
    position: absolute;
    top: -186px;
    left: 34px;
    width: 424px;
    height: 782px;
    border-width: 5px;
    transform: rotate(-7deg);
}

/*サイド髪 その14*/
.hair-side-14{
    position: absolute;
    top: 808px;
    left: 1696px;
    width: 311px;
    height: 372px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.hair-side-14 .line{
    position: absolute;
    top: -497px;
    left: -159px;
    width: 392px;
    height: 855px;
    border-width: 5px;
    transform: rotate(-33deg);

}

/*サイド髪 その15*/
.hair-side-15{
    position: absolute;
    top: 895px;
    left: 1788px;
    width: 222px;
    height: 372px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.hair-side-15 .line{
    position: absolute;
    top: -214px;
    left: -49px;
    width: 239px;
    height: 495px;
    border-width: 5px;
    transform: rotate(-61deg);
}

/*サイド髪 その16*/
.hair-side-16{
    position: absolute;
    top: 895px;
    left: 1924px;
    width: 88px;
    height: 372px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.hair-side-16 .line{
    position: absolute;
    top: -243px;
    left: -74px;
    width: 239px;
    height: 495px;
    border-width: 5px;
    transform: rotate(-75deg);
}

/*サイド髪 その17*/
.hair-side-17{
    position: absolute;
    top: 861px;
    left: 1925px;
    width: 86px;
    height: 372px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.hair-side-17 .line{
    position: absolute;
    top: -165px;
    left: -74px;
    width: 249px;
    height: 370px;
    border-width: 4px;
    transform: rotate(-108deg);
}

/*サイド髪 その18*/
.hair-side-18{
    position: absolute;
    top: -23px;
    left: 615px;
    width: 86px;
    height: 241px;
    border-radius: 50%;
    transform: rotate(49deg);
}
.hair-side-18 .line{
    position: absolute;
    top: -167px;
    left: 24px;
    width: 281px;
    height: 596px;
    border-width: 4px;
    transform: rotate(-2deg);
}

/*サイド髪 その19*/
.hair-side-19{
    position: absolute;
    top: 105px;
    left: 1472px;
    width: 113px;
    height: 272px;
    border-radius: 50%;
    transform: rotate(-30deg);
}
.hair-side-19 .line{
    position: absolute;
    top: -130px;
    left: 38px;
    width: 281px;
    height: 567px;
    border-width: 4px;
    transform: rotate(-31deg);
}

/*サイド髪 その20*/
.hair-side-20{
    position: absolute;
    top: 234px;
    left: 1513px;
    width: 85px;
    height: 173px;
    border-radius: 50%;
    transform: rotate(-29deg);
}
.hair-side-20 .line{
    position: absolute;
    top: -155px;
    left: 41px;
    width: 281px;
    height: 567px;
    border-width: 4px;
    transform: rotate(-33deg);
}

/*サイド髪 その21*/
.hair-side-21{
    position: absolute;
    top: 254px;
    left: 1548px;
    width: 81px;
    height: 286px;
    border-radius: 50%;
    transform: rotate(-27deg);
}
.hair-side-21 .line{
    position: absolute;
    top: -115px;
    left: -293px;
    width: 308px;
    height: 567px;
    border-width: 4px;
    transform: rotate(-12deg);
}

/*サイド髪 その22*/
.hair-side-22{
    position: absolute;
    top: 520px;
    left: 1616px;
    width: 70px;
    height: 225px;
    border-radius: 50%;
    transform: rotate(-10deg);
}
.hair-side-22 .line{
    position: absolute;
    top: -378px;
    left: -291px;
    width: 308px;
    height: 1024px;
    border-width: 4px;
    transform: rotate(10deg);
}

/*サイド髪 その23*/
.hair-side-23{
    position: absolute;
    top: 446px;
    left: 1598px;
    width: 70px;
    height: 280px;
    border-radius: 50%;
    transform: rotate(-14deg);
}
.hair-side-23 .line{
    position: absolute;
    top: -223px;
    left: -298px;
    width: 308px;
    height: 631px;
    border-width: 4px;
    transform: rotate(12deg);
}

/*サイド髪 その24*/
.hair-side-24{
    position: absolute;
    top: 430px;
    left: 1571px;
    width: 29px;
    height: 94px;
    border-radius: 50%;
    transform: rotate(-13deg);
}
.hair-side-24 .line{
    position: absolute;
    top: -62px;
    left: -198px;
    width: 308px;
    height: 729px;
    border-width: 4px;
    transform: rotate(-20deg);
}

/*サイド髪 その25*/
.hair-side-25{
    position: absolute;
    top: 379px;
    left: 1892px;
    width: 119px;
    height: 93px;
    border-radius: 50%;
    transform: rotate(16deg);
}
.hair-side-25 .line{
    position: absolute;
    top: -95px;
    left: -413px;
    width: 959px;
    height: 137px;
    border-width: 4px;
    transform: rotate(-9deg);
}

/*サイド髪 その26*/
.hair-side-26{
    position: absolute;
    top: 442px;
    left: 1888px;
    width: 122px;
    height: 93px;
    border-radius: 50%;
    transform: rotate(1deg);
}
.hair-side-26 .line{
    position: absolute;
    top: -95px;
    left: -413px;
    width: 959px;
    height: 137px;
    border-width: 4px;
    transform: rotate(-1deg);
}

/*サイド髪 その27*/
.hair-side-27{
    position: absolute;
    top: 562px;
    left: 1879px;
    width: 132px;
    height: 62px;
    border-radius: 50%;
    transform: rotate(9deg);
}
.hair-side-27 .line{
    position: absolute;
    top: -108px;
    left: -223px;
    width: 540px;
    height: 137px;
    border-width: 4px;
    transform: rotate(2deg);
}

/*リボン 1*/
.ribbon-1{
    position: absolute;
    top: 94px;
    left: 502px;
    width: 86px;
    height: 109px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.ribbon-1 .line{
    position: absolute;
    top: -111px;
    left: -217px;
    width: 281px;
    height: 467px;
    border-width: 4px;
    transform: rotate(-21deg);
}

/*リボン 2*/
.ribbon-2{
    position: absolute;
    top: 97px;
    left: 468px;
    width: 86px;
    height: 38px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.ribbon-2 .line{
    position: absolute;
    top: -178px;
    left: -23px;
    width: 281px;
    height: 799px;
    border-width: 4px;
    transform: rotate(17deg);
}

/*リボン 3*/
.ribbon-3{
    position: absolute;
    top: 124px;
    left: 441px;
    width: 86px;
    height: 90px;
    border-radius: 50%;
    transform: rotate(29deg);
}
.ribbon-3 .line{
    position: absolute;
    top: -178px;
    left: 54px;
    width: 281px;
    height: 799px;
    border-width: 4px;
    transform: rotate(-9deg);
}

/*リボン 4*/
.ribbon-4{
    position: absolute;
    top: 193px;
    left: 441px;
    width: 86px;
    height: 186px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.ribbon-4 .line{
    position: absolute;
    top: -185px;
    left: 12px;
    width: 706px;
    height: 393px;
    border-width: 4px;
    transform: rotate(-9deg);
}

/*リボン 5*/
.ribbon-5{
    position: absolute;
    top: 310px;
    left: 421px;
    width: 91px;
    height: 46px;
    border-radius: 50%;
    transform: rotate(48deg);
}
.ribbon-5 .line{
    position: absolute;
    top: -165px;
    left: 55px;
    width: 86px;
    height: 393px;
    border-width: 4px;
    transform: rotate(-24deg);
}

/*リボン 6*/
.ribbon-6{
    position: absolute;
    top: 347px;
    left: 441px;
    width: 84px;
    height: 69px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.ribbon-6 .line{
    position: absolute;
    top: -378px;
    left: 97px;
    width: 245px;
    height: 499px;
    border-width: 4px;
    transform: rotate(50deg);
}

/*リボン 7*/
.ribbon-7{
    position: absolute;
    top: 348px;
    left: 357px;
    width: 112px;
    height: 78px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.ribbon-7 .line{
    position: absolute;
    top: 2px;
    left: 31px;
    width: 164px;
    height: 256px;
    border-width: 4px;
    transform: rotate(19deg);
}

/*リボン 8*/
.ribbon-8{
    position: absolute;
    top: 421px;
    left: 371px;
    width: 100px;
    height: 163px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.ribbon-8 .line{
    position: absolute;
    top: -80px;
    left: 52px;
    width: 164px;
    height: 335px;
    border-width: 4px;
    transform: rotate(-23deg);
}

/*リボン 9*/
.ribbon-9{
    position: absolute;
    top: 571px;
    left: 436px;
    width: 25px;
    height: 11px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.ribbon-9 .line{
    position: absolute;
    top: -13px;
    left: 6px;
    width: 6px;
    height: 12px;
    border-width: 4px;
    transform: rotate(1deg);
}

/*リボン 10*/
.ribbon-10{
    position: absolute;
    top: 475px;
    left: 445px;
    width: 69px;
    height: 105px;
    border-radius: 50%;
    transform: rotate(33deg);
}
.ribbon-10 .line{
    position: absolute;
    top: -62px;
    left: 37px;
    width: 163px;
    height: 254px;
    border-width: 4px;
    transform: rotate(13deg);
}

/*リボン 11*/
.ribbon-11{
    position: absolute;
    top: 1117px;
    left: 1310px;
    width: 37px;
    height: 11px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.ribbon-11 .line{
    position: absolute;
    top: 1px;
    left: -12px;
    width: 69px;
    height: 254px;
    border-width: 4px;
    transform: rotate(0deg);
}

/*リボン 12*/
.ribbon-12{
    position: absolute;
    top: 927px;
    left: 1381px;
    width: 33px;
    height: 216px;
    border-radius: 50%;
    transform: rotate(31deg);
}
.ribbon-12 .line{
    position: absolute;
    top: -8px;
    left: 4px;
    width: 88px;
    height: 234px;
    border-width: 4px;
    transform: rotate(6deg);
}

/*リボン 13*/
.ribbon-13{
    position: absolute;
    top: 954px;
    left: 1456px;
    width: 83px;
    height: 129px;
    border-radius: 50%;
    transform: rotate(-30deg);
}
.ribbon-13 .line{
    position: absolute;
    top: -26px;
    left: -63px;
    width: 88px;
    height: 190px;
    border-width: 4px;
    transform: rotate(18deg);
}

/*リボン 14*/
.ribbon-14{
    position: absolute;
    top: 1072px;
    left: 1451px;
    width: 151px;
    height: 56px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.ribbon-14 .line{
    position: absolute;
    top: -50px;
    left: -20px;
    width: 88px;
    height: 190px;
    border-width: 4px;
    transform: rotate(-31deg);
}

/*耳 1*/
.ear-1{
    position: absolute;
    top: 324px;
    left: 375px;
    width: 51px;
    height: 123px;
    border-radius: 50%;
    transform: rotate(22deg);
}
.ear-1 .line{
    position: absolute;
    top: -142px;
    left: -53px;
    width: 163px;
    height: 254px;
    border-width: 4px;
    transform: rotate(-120deg);
}

/*耳 2*/
.ear-2{
    position: absolute;
    top: 238px;
    left: 111px;
    width: 303px;
    height: 123px;
    border-radius: 50%;
    transform: rotate(38deg);
}
.ear-2 .line{
    position: absolute;
    top: -177px;
    left: -164px;
    width: 748px;
    height: 254px;
    border-width: 4px;
    transform: rotate(-5deg);
}

/*耳 3*/
.ear-3{
    position: absolute;
    top: 155px;
    left: 5px;
    width: 147px;
    height: 52px;
    border-radius: 50%;
    transform: rotate(38deg);
}
.ear-3 .line{
    position: absolute;
    top: -237px;
    left: -164px;
    width: 549px;
    height: 254px;
    border-width: 4px;
    transform: rotate(0deg);
}

/*耳 4*/
.ear-4{
    position: absolute;
    top: 97px;
    left: 23px;
    width: 23px;
    height: 37px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.ear-4 .line{
    position: absolute;
    top: -108px;
    left: 203px;
    width: 56px;
    height: 560px;
    border-width: 5px;
    transform: rotate(-55deg);
}

/*耳 5*/
.ear-5{
    position: absolute;
    top: 119px;
    left: 37px;
    width: 384px;
    height: 37px;
    border-radius: 50%;
    transform: rotate(8deg);
}
.ear-5 .line{
    position: absolute;
    top: -94px;
    left: -87px;
    width: 1033px;
    height: 98px;
    border-width: 5px;
    transform: rotate(-4deg);
}

/*耳 6*/
.ear-6{
    position: absolute;
    top: 139px;
    left: 411px;
    width: 67px;
    height: 65px;
    border-radius: 50%;
    transform: rotate(8deg);
}
.ear-6 .line{
    position: absolute;
    top: 28px;
    left: -64px;
    width: 162px;
    height: 98px;
    border-width: 4px;
    transform: rotate(18deg);
}

/*左側の目の右側アイホール*/
.face-lefteyehole-right{
    position: absolute;
    top: 547px;
    left: 944px;
    width: 273px;
    height: 134px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.face-lefteyehole-right .line{
    position: absolute;
    top: -6px;
    left: -187px;
    width: 253px;
    height: 268px;
    border-width: 5px;
    transform: rotate(-5deg);
}

/*左側の目の左側アイホール*/
.face-lefteyehole-left{
    position: absolute;
    top: 631px;
    left: 739px;
    width: 274px;
    height: 139px;
    border-radius: 50%;
    transform: rotate(-36deg);
}
.face-lefteyehole-left .line{
    position: absolute;
    top: -55px;
    left: 163px;
    width: 228px;
    height: 218px;
    border-width: 5px;
    transform: rotate(-18deg);
}

/*左側の目の下側アイホール*/
.face-lefteyehole-bottom{
    position: absolute;
    top: 693px;
    left: 881px;
    width: 273px;
    height: 84px;
    border-radius: 50%;
    transform: rotate(52deg);
}
.face-lefteyehole-bottom .line{
    position: absolute;
    top: -105px;
    left: -47px;
    width: 129px;
    height: 268px;
    border-width: 5px;
    transform: rotate(0deg);
}

/*左側の目のアイライン 1*/
.face-lefteyeline-1{
    position: absolute;
    top: 487px;
    left: 940px;
    width: 281px;
    height: 210px;
    border-radius: 50%;
}
.face-lefteyeline-1 div{
    position: absolute;
    top: 88px;
    left: -172px;
    width: 313px;
    height: 66px;
    border-width: 5px;
    box-shadow: -34px -13px;
    border-radius: 50%;
    transform: rotate(-3deg);
}

/*左側の目のアイライン 2*/
.face-lefteyeline-2{
    position: absolute;
    top: 490px;
    left: 811px;
    width: 158px;
    height: 210px;
    border-radius: 50%;
    transform: rotate(-28deg);
}
.face-lefteyeline-2 div{
    position: absolute;
    top: 111px;
    left: -29px;
    width: 211px;
    height: 127px;
    border-width: 5px;
    box-shadow: 0px -19px;
    border-radius: 50%;
    transform: rotate(-8deg);
}

/*左側の目のアイライン 3*/
.face-lefteyeline-3{
    position: absolute;
    top: 487px;
    left: 940px;
    width: 281px;
    height: 210px;
    border-radius: 50%;
}
.face-lefteyeline-3 div{
    position: absolute;
    top: 93px;
    left: -172px;
    width: 313px;
    height: 66px;
    border-width: 5px;
    box-shadow: -34px -13px;
    border-radius: 50%;
    transform: rotate(-6deg);
}

/*左側の目のアイライン 4*/
.face-lefteyeline-4{
    position: absolute;
    top: 487px;
    left: 940px;
    width: 281px;
    height: 210px;
    border-radius: 50%;
}
.face-lefteyeline-4 div{
    position: absolute;
    top: 90px;
    left: -172px;
    width: 313px;
    height: 66px;
    border-width: 5px;
    box-shadow: -34px -13px;
    border-radius: 50%;
    transform: rotate(-2deg);
}

/*左側の目のアイライン 5*/
.face-lefteyeline-5{
    position: absolute;
    top: 475px;
    left: 925px;
    width: 216px;
    height: 104px;
    transform: rotate(-5deg);
    border-radius: 50%;
}
.face-lefteyeline-5 div{
    position: absolute;
    top: 90px;
    left: -172px;
    width: 313px;
    height: 66px;
    border-width: 5px;
    box-shadow: -34px -13px;
    border-radius: 50%;
    transform: rotate(-2deg);
}

/*左側の目のアイライン 6*/
.face-lefteyeline-6{
    position: absolute;
    top: 515px;
    left: 1033px;
    width: 65px;
    height: 284px;
    border-radius: 50%;
    transform: rotate(-35deg);
}
.face-lefteyeline-6 .line{
    position: absolute;
    top: 25px;
    left: -208px;
    width: 363px;
    height: 290px;
    border-width: 3px;
    transform: rotate(239deg);
}

/*左側の目のアイライン 7*/
.face-lefteyeline-7{
    position: absolute;
    top: 480.5px;
    left: 937px;
    width: 75px;
    height: 92px;
    transform: rotate(-6deg);
    border-radius: 50%;
}
.face-lefteyeline-7 div{
    position: absolute;
    top: 90px;
    left: -172px;
    width: 313px;
    height: 66px;
    border-width: 5px;
    box-shadow: -34px -13px;
    border-radius: 50%;
    transform: rotate(-2deg);
}

/*左側の目のアイライン 8*/
.face-lefteyeline-8{
    position: absolute;
    top: 496px;
    left: 817px;
    width: 161px;
    height: 210px;
    border-radius: 50%;
    transform: rotate(-28deg);
}
.face-lefteyeline-8 div{
    position: absolute;
    top: 109px;
    left: -29px;
    width: 211px;
    height: 127px;
    border-width: 5px;
    box-shadow: 0px -19px;
    border-radius: 50%;
    transform: rotate(-12deg);
}

/*左側の目のアイライン 9*/
.face-lefteyeline-9{
    position: absolute;
    top: 601.5px;
    left: 819px;
    width: 40px;
    height: 123px;
    border-radius: 50%;
    transform: rotate(
-83deg);
}
.face-lefteyeline-9 div{
    position: absolute;
    top: 65px;
    left: -55px;
    width: 211px;
    height: 75px;
    border-width: 5px;
    box-shadow: 0px -19px;
    border-radius: 50%;
    transform: rotate(1deg);
}

/*左側の目のアイライン 10*/
.face-lefteyeline-10{
    position: absolute;
    top: 634px;
    left: 757px;
    width: 73px;
    height: 74px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.face-lefteyeline-10 div{
    position: absolute;
    top: -29px;
    left: -11px;
    width: 100px;
    height: 75px;
    border-width: 5px;
    box-shadow: -18px -20px;
    border-radius: 50%;
    transform: rotate(-231deg);
}

/*左側の目のアイライン 11*/
.face-lefteyeline-11{
    position: absolute;
    top: 653px;
    left: 815px;
    width: 123px;
    height: 124px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.face-lefteyeline-11 div{
    position: absolute;
    top: 16px;
    left: 21px;
    width: 100px;
    height: 39px;
    border-width: 5px;
    box-shadow: 16px -8px;
    border-radius: 50%;
    transform: rotate(-140deg);
}

/*左側の目のアイライン 12*/
.face-lefteyeline-12{
    position: absolute;
    top: 655px;
    left: 815px;
    width: 123px;
    height: 124px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.face-lefteyeline-12 div{
    position: absolute;
    top: -30px;
    left: -44px;
    width: 234px;
    height: 81px;
    border-width: 5px;
    box-shadow: 50px -12px;
    border-radius: 50%;
    transform: rotate(-142deg);
}

/*左側の目のアイライン(二重)  8 */
.face-lefteyeline-13{
    position: absolute;
    top: 403px;
    left: 874px;
    width: 129px;
    height: 356px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.face-lefteyeline-13 .line{
    position: absolute;
    top: 135px;
    left: -119px;
    width: 451px;
    height: 418px;
    border-width: 4px;
    transform: rotate(0deg);
}

/*左側の目の瞳孔 1*/
.face-lefteyehole-center1{
    position: absolute;
    top: 292px;
    left: 620px;
    width: 471px;
    height: 250px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.face-lefteyehole-center1 .line{
    position: absolute;
    top: 308px;
    left: 309px;
    width: 28px;
    height: 55px;
    border-width: 3px;
    transform: rotate(-32deg);
}

/*左側の目の瞳孔 2*/
.face-lefteyehole-center2{
    position: absolute;
    top: 578px;
    left: 935px;
    width: 78px;
    height: 198px;
    border-radius: 50%;
    transform: rotate(-33deg);
}
.face-lefteyehole-center2 .line{
    position: absolute;
    top: -54px;
    left: 5px;
    width: 62px;
    height: 139px;
    border-width: 4px;
    transform: rotate(0deg);
}

/*左側の目のまつ毛 1*/
.face-lefteyelashes-1{
    position: absolute;
    top: 725px;
    left: 903px;
    width: 15px;
    height: 16px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.face-lefteyelashes-1 .line{
    position: absolute;
    top: -6px;
    left: 7px;
    width: 30px;
    height: 30px;
    border-width: 3px;
    transform: rotate(0deg);
}

/*左側の目のまつ毛 2*/
.face-lefteyelashes-2{
    position: absolute;
    top: 729px;
    left: 924px;
    width: 15px;
    height: 13px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.face-lefteyelashes-2 .line{
    position: absolute;
    top: -10px;
    left: 4px;
    width: 30px;
    height: 30px;
    border-width: 3px;
    transform: rotate(0deg);
}

/*左側の目のまつ毛 3*/
.face-lefteyelashes-3{
    position: absolute;
    top: 727px;
    left: 939px;
    width: 15px;
    height: 12px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.face-lefteyelashes-3 .line{
    position: absolute;
    top: -10px;
    left: 4px;
    width: 30px;
    height: 30px;
    border-width: 3px;
    transform: rotate(0deg);
}

/*右側の目の右側アイホール*/
.face-righteyehole-right{
    position: absolute;
    top: 292px;
    left: 1279px;
    width: 471px;
    height: 250px;
    border-radius: 50%;
    transform: rotate(166deg);
}
.face-righteyehole-right .line{
    position: absolute;
    top: -6px;
    left: 420px;
    width: 253px;
    height: 268px;
    border-width: 5px;
    transform: rotate(-5deg);
}

/*右側の目の左側アイホール*/
.face-righteyehole-left{
    position: absolute;
    top: 414px;
    left: 1048px;
    width: 184px;
    height: 315px;
    border-radius: 50%;
    transform: rotate(57deg);
}
.face-righteyehole-left .line{
    position: absolute;
    top: -44px;
    left: 7px;
    width: 150px;
    height: 75px;
    transform: rotate(8deg);
    border-width: 5px;
}

/*右側の目の下側アイホール 1*/
.face-righteyehole-bottom{
    position: absolute;
    top: 512px;
    left: 1285px;
    width: 130px;
    height: 315px;
    border-radius: 50%;
    transform: rotate(161deg);
}
.face-righteyehole-bottom .line{
    position: absolute;
    top: 293px;
    left: -82px;
    width: 302px;
    height: 210px;
    border-width: 5px;
}

/*右側の目の瞳孔 1*/
.face-righteyehole-center1{
    position: absolute;
    top: 438px;
    left: 1250px;
    --face-righteyehole-center1-w: 23px;
    --face-righteyehole-center1-h: 53px;
    transform: rotate(-24deg);
    height: 2px;
}
.face-righteyehole-center1 div{
    width: var(--face-righteyehole-center1-w);
    height: var(--face-righteyehole-center1-h);
    border: solid 3px #000;
    border-radius: 50%;
}

/*右側の目の瞳孔 2*/
.face-righteyehole-center2{
    position: absolute;
    top: 430px;
    left: 1268px;
    width: 130px;
    height: 315px;
    border-radius: 50%;
    transform: rotate(-25deg);
}
.face-righteyehole-center2 div{
    position: absolute;
    top: -68px;
    left: 32px;
    width: 57px;
    height: 128px;
    border-radius: 50%;
    border-width: 4px;
}

/*右側の目のアイライン 1*/
.face-righteyeline-1{
    position: absolute;
    top: 317px;
    left: 1065px;
    width: 281px;
    height: 210px;
    border-radius: 50%;
}
.face-righteyeline-1 div{
    position: absolute;
    top: 84px;
    left: 140px;
    width: 302px;
    height: 210px;
    border-width: 5px;
    box-shadow: 5px -25px;
    border-radius: 50%;
    transform: rotate(8deg);
}

/*右側の目のアイライン 2*/
.face-righteyeline-2{
    position: absolute;
    top: 421px;
    left: 1055px;
    width: 281px;
    height: 210px;
    border-radius: 50%;
}
.face-righteyeline-2 div{
    position: absolute;
    top: -14px;
    left: 148px;
    width: 221px;
    height: 177px;
    border-width: 5px;
    box-shadow: 8px -22px;
    border-radius: 50%;
    transform: rotate(-24deg);
}

/*右側の目のアイライン 3 */
.face-righteyeline-3{
    position: absolute;
    top: 299px;
    left: 1100px;
    width: 281px;
    height: 625px;
    border-radius: 50%;
}
.face-righteyeline-3 div{
    position: absolute;
    top: 106px;
    left: 104px;
    width: 221px;
    height: 177px;
    border-width: 5px;
    box-shadow: 8px -22px;
    border-radius: 50%;
    transform: rotate(-27deg);
}

/*右側の目のアイライン 3 */
.face-righteyeline-4{
    position: absolute;
    top: 389px;
    left: 1210px;
    width: 111px;
    height: 242px;
    border-radius: 50%;
    transform: rotate(-33deg);
}
.face-righteyeline-4 .line{
    position: absolute;
    top: 39px;
    left: -82px;
    width: 302px;
    height: 210px;
    border-width: 3px;
    transform: rotate(-32deg);
}

/*右側の目のアイライン 5 */
.face-righteyeline-5{
    position: absolute;
    top: 343px;
    left: 1299px;
    width: 55px;
    height: 225px;
    border-radius: 50%;
    transform: rotate(19deg);
}
.face-righteyeline-5 div{
    position: absolute;
    top: 56px;
    left: -52px;
    width: 161px;
    height: 142px;
    border-width: 5px;
    box-shadow: -3px -21px;
    border-radius: 50%;
    transform: rotate(11deg);
}

/*右側の目のアイライン 6 */
.face-righteyeline-6{
    position: absolute;
    top: 186px;
    left: 1333px;
    width: 125px;
    height: 225px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.face-righteyeline-6 div{
    position: absolute;
    top: 64px;
    left: -67px;
    width: 161px;
    height: 142px;
    border-width: 5px;
    box-shadow: -14px 22px;
    border-radius: 50%;
    transform: rotate(9deg);
}

/*右側の目のアイライン 7 */
.face-righteyeline-7{
    position: absolute;
    top: 381px;
    left: 1333px;
    width: 125px;
    height: 225px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.face-righteyeline-7 div{
    position: absolute;
    top: 32px;
    left: -99px;
    width: 198px;
    height: 75px;
    border-width: 5px;
    box-shadow: 49px 12px;
    border-radius: 50%;
    transform: rotate(-100deg);
}

/*右側の目のアイライン(二重)  8 */
.face-righteyeline-8{
    position: absolute;
    top: 332px;
    left: 1193px;
    width: 111px;
    height: 356px;
    border-radius: 50%;
    transform: rotate(-6deg);
}
.face-righteyeline-8 .line{
    position: absolute;
    top: 27px;
    left: -60px;
    width: 451px;
    height: 418px;
    border-width: 4px;
    transform: rotate(-56deg);
}

/*右側の目のまつ毛 1*/
.face-righteyelashes-1{
    position: absolute;
    top: 483px;
    left: 1368px;
    width: 10px;
    height: 19px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.face-righteyelashes-1 .line{
    position: absolute;
    top: 5px;
    left: -16px;
    width: 30px;
    height: 30px;
    border-width: 3px;
    transform: rotate(0deg);
}

/*右側の目のまつ毛 2*/
.face-righteyelashes-2{
    position: absolute;
    top: 495px;
    left: 1361px;
    width: 8px;
    height: 19px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.face-righteyelashes-2 .line{
    position: absolute;
    top: 6px;
    left: -20px;
    width: 30px;
    height: 30px;
    border-width: 3px;
    transform: rotate(0deg);
}

/*右側の目のまつ毛 3*/
.face-righteyelashes-3{
    position: absolute;
    top: 507px;
    left: 1351px;
    width: 8px;
    height: 19px;
    border-radius: 50%;
    transform: rotate(28deg);
}
.face-righteyelashes-3 .line{
    position: absolute;
    top: 7px;
    left: -18px;
    width: 30px;
    height: 30px;
    border-width: 3px;
    transform: rotate(0deg);
}

/*口 1*/
.mouse-1{
    position: absolute;
    top: 579px;
    left: 1130px;
    width: 163px;
    height: 284px;
    border-radius: 50%;
    transform: rotate(-30deg);
}
.mouse-1 .line{
    position: absolute;
    top: 105px;
    left: -20px;
    width: 194px;
    height: 268px;
    border-width: 3px;
    transform: rotate(-87deg);
}

/*口 2*/
.mouse-2{
    position: absolute;
    top: 713px;
    left: 1097px;
    width: 360px;
    height: 315px;
    border-radius: 50%;
    transform: rotate(-48deg);
}
.mouse-2 .line{
    position: absolute;
    top: -79px;
    left: 156px;
    width: 156px;
    height: 227px;
    border-width: 3px;
    transform: rotate(20deg);
}

/*右眉 1*/
.right-mayu-1{
    position: absolute;
    top: 270px;
    left: 1124px;
    width: 154px;
    height: 60px;
    border-radius: 50%;
    transform: rotate(-16deg);
}
.right-mayu-1 .line{
    position: absolute;
    top: 2px;
    left: -40px;
    width: 230px;
    height: 147px;
    border-width: 4px;
    transform: rotate(0deg);
}
/*右眉 2*/
.right-mayu-2{
    position: absolute;
    top: 260px;
    left: 1126px;
    width: 134px;
    height: 73px;
    border-radius: 50%;
    transform: rotate(-17deg);
}
.right-mayu-2 .line{
    position: absolute;
    top: 6px;
    left: -23px;
    width: 189px;
    height: 147px;
    border-width: 4px;
    transform: rotate(9deg);
}

/*左眉 1*/
.left-mayu-1{
    position: absolute;
    top: 444px;
    left: 772px;
    width: 159px;
    height: 35px;
    border-radius: 50%;
    transform: rotate(-39deg);
}
.left-mayu-1 .line{
    position: absolute;
    top: 6px;
    left: -40px;
    width: 288px;
    height: 147px;
    border-width: 4px;
    transform: rotate(10deg);
}

/*左眉 2*/
.left-mayu-2{
    position: absolute;
    top: 423px;
    left: 790px;
    width: 122px;
    height: 51px;
    border-radius: 50%;
    transform: rotate(-34deg);
}
.left-mayu-2 .line{
    position: absolute;
    top: 14px;
    left: -35px;
    width: 201px;
    height: 147px;
    border-width: 4px;
    transform: rotate(3deg);
}

/*服 1*/
.clothes-1{
    position: absolute;
    top: 420px;
    left: 1573px;
    width: 92px;
    height: 41px;
    border-radius: 50%;
    transform: rotate(51deg);
}
.clothes-1 .line{
    position: absolute;
    top: -146px;
    left: -286px;
    width: 518px;
    height: 114px;
    border-width: 4px;
    transform: rotate(44deg);
}

/*服 2*/
.clothes-2{
    position: absolute;
    top: 372px;
    left: 1575px;
    width: 65px;
    height: 26px;
    border-radius: 50%;
    transform: rotate(-29deg);
}
.clothes-2 .line{
    position: absolute;
    top: -385px;
    left: 165.5px;
    width: 181px;
    height: 719px;
    border-width: 4px;
    transform: rotate(64deg);
}

/*服 3*/
.clothes-3{
    position: absolute;
    top: 147px;
    left: 1602px;
    width: 42px;
    height: 233px;
    border-radius: 50%;
    transform: rotate(11deg);
}
.clothes-3 .line{
    position: absolute;
    top: -64px;
    left: 33px;
    width: 60px;
    height: 706px;
    border-width: 5px;
    transform: rotate(-7deg);
}

/*服 4*/
.clothes-4{
    position: absolute;
    top: 111px;
    left: 1634px;
    width: 42px;
    height: 59px;
    border-radius: 50%;
    transform: rotate(6deg);
}
.clothes-4 .line{
    position: absolute;
    top: -132px;
    left: -10px;
    width: 37px;
    height: 492px;
    border-width: 3px;
    transform: rotate(10deg);
}

/*服 5*/
.clothes-5{
    position: absolute;
    top: 72px;
    left: 1602px;
    width: 42px;
    height: 115px;
    border-radius: 50%;
    transform: rotate(9deg);
}
.clothes-5 .line{
    position: absolute;
    top: -109px;
    left: 25px;
    width: 37px;
    height: 265px;
    border-width: 3px;
    transform: rotate(-11deg);
}

/*服 6*/
.clothes-6{
    position: absolute;
    top: 13px;
    left: 1612px;
    width: 74px;
    height: 64px;
    border-radius: 50%;
    transform: rotate(-0deg);
}
.clothes-6 .line{
    position: absolute;
    top: -107px;
    left: 37px;
    width: 88px;
    height: 265px;
    border-width: 3px;
    transform: rotate(28deg);
}

/*服 7*/
.clothes-7{
    position: absolute;
    top: 15px;
    left: 1641px;
    width: 15px;
    height: 18px;
    border-radius: 50%;
    transform: rotate(-0deg);
}
.clothes-7 .line{
    position: absolute;
    top: -107px;
    left: 7px;
    width: 88px;
    height: 265px;
    border-width: 2px;
    transform: rotate(-2deg);
}

/*服 8*/
.clothes-8{
    position: absolute;
    top: 1106px;
    left: 1958px;
    width: 43px;
    height: 22px;
    border-radius: 50%;
    transform: rotate(-0deg);
}
.clothes-8 .line{
    position: absolute;
    top: -107px;
    left: -74px;
    width: 88px;
    height: 265px;
    border-width: 4px;
    transform: rotate(-36deg);
}

/*服 9*/
.clothes-9{
    position: absolute;
    top: 954px;
    left: 1856px;
    width: 70px;
    height: 43px;
    border-radius: 50%;
    transform: rotate(21deg);
}
.clothes-9 .line{
    position: absolute;
    top: -107px;
    left: -83px;
    width: 88px;
    height: 265px;
    border-width: 4px;
    transform: rotate(-44deg);
}

/*服 10*/
.clothes-10{
    position: absolute;
    top: 681px;
    left: 1836px;
    width: 123px;
    height: 290px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.clothes-10 .line{
    position: absolute;
    top: -226px;
    left: -61px;
    width: 88px;
    height: 644px;
    border-width: 4px;
    transform: rotate(-3deg);
}

/*服 11*/
.clothes-11{
    position: absolute;
    top: 267px;
    left: 1853px;
    width: 123px;
    height: 577px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.clothes-11 .line{
    position: absolute;
    top: -236px;
    left: -59px;
    width: 88px;
    height: 862px;
    border-width: 4px;
    transform: rotate(4deg);
}

/*服 12*/
.clothes-12{
    position: absolute;
    top: 13px;
    left: 1872px;
    width: 123px;
    height: 304px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.clothes-12 .line{
    position: absolute;
    top: -128px;
    left: -51px;
    width: 88px;
    height: 580px;
    border-width: 4px;
    transform: rotate(9deg);
}

/*フリル 1*/
.frill-1{
    position: absolute;
    top: 1023px;
    left: 1164px;
    width: 54px;
    height: 66px;
    border-radius: 50%;
    transform: rotate(-42deg);
}
.frill-1 .line{
    position: absolute;
    top: -20px;
    left: 46px;
    width: 11px;
    height: 94px;
    border-width: 4px;
    transform: rotate(-99deg);
}

/*フリル 2*/
.frill-2{
    position: absolute;
    top: 1066px;
    left: 1180px;
    width: 55px;
    height: 23px;
    border-radius: 50%;
    transform: rotate(8deg);
}
.frill-2 .line{
    position: absolute;
    top: -8px;
    left: -9px;
    width: 81px;
    height: 15px;
    border-width: 4px;
    transform: rotate(-5deg);
}

/*フリル 3*/
.frill-3{
    position: absolute;
    top: 1031px;
    left: 1214px;
    width: 16px;
    height: 21px;
    border-radius: 50%;
    transform: rotate(50deg);
}
.frill-3 .line{
    position: absolute;
    top: 6px;
    left: -29px;
    width: 81px;
    height: 15px;
    border-width: 4px;
    transform: rotate(-50deg);
}

/*フリル 4*/
.frill-4{
    position: absolute;
    top: 1022px;
    left: 1223px;
    width: 39px;
    height: 16px;
    border-radius: 50%;
    transform: rotate(-43deg);
}
.frill-4 .line{
    position: absolute;
    top: -31px;
    left: -36px;
    width: 68px;
    height: 33px;
    border-width: 4px;
    transform: rotate(16deg);
}

/*フリル 5*/
.frill-5{
    position: absolute;
    top: 991px;
    left: 1236px;
    width: 43px;
    height: 20px;
    border-radius: 50%;
    transform: rotate(-43deg);
}
.frill-5 .line{
    position: absolute;
    top: 7px;
    left: 2px;
    width: 39px;
    height: 20px;
    border-width: 4px;
    transform: rotate(1deg);
}

/*フリル 6*/
.frill-6{
    position: absolute;
    top: 1046px;
    left: 1214px;
    width: 48px;
    height: 25px;
    border-radius: 50%;
    transform: rotate(35deg);
}
.frill-6 .line{
    position: absolute;
    top: -17px;
    left: -9px;
    width: 69px;
    height: 16px;
    border-width: 4px;
    transform: rotate(-9deg);
}

/*フリル 7*/
.frill-7{
    position: absolute;
    top: 1018px;
    left: 1243px;
    width: 48px;
    height: 25px;
    border-radius: 50%;
    transform: rotate(53deg);
}
.frill-7 .line{
    position: absolute;
    top: 15px;
    left: -26px;
    width: 69px;
    height: 16px;
    border-width: 4px;
    transform: rotate(-9deg);
}

/*フリル 8*/
.frill-8{
    position: absolute;
    top: 955px;
    left: 1274px;
    width: 37px;
    height: 61px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.frill-8 .line{
    position: absolute;
    top: -20px;
    left: -26px;
    width: 65px;
    height: 41px;
    border-width: 4px;
    transform: rotate(-51deg);
}

/*フリル 9*/
.frill-9{
    position: absolute;
    top: 941px;
    left: 1287px;
    width: 58px;
    height: 28px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.frill-9 .line{
    position: absolute;
    top: -2px;
    left: 9px;
    width: 65px;
    height: 41px;
    border-width: 4px;
    transform: rotate(-54deg);
}

/*フリル 10*/
.frill-10{
    position: absolute;
    top: 855px;
    left: 1380px;
    width: 21px;
    height: 51px;
    border-radius: 50%;
    transform: rotate(33deg);
}
.frill-10 .line{
    position: absolute;
    top: -7px;
    left: -50px;
    width: 65px;
    height: 41px;
    border-width: 4px;
    transform: rotate(-73deg);
}

/*フリル 11*/
.frill-11{
    position: absolute;
    top: 821px;
    left: 1380px;
    width: 63px;
    height: 30px;
    border-radius: 50%;
    transform: rotate(-48deg);
}
.frill-11 .line{
    position: absolute;
    top: 14px;
    left: -4px;
    width: 61px;
    height: 56px;
    border-width: 4px;
    transform: rotate(-6deg);
}

/*フリル 12*/
.frill-12{
    position: absolute;
    top: 825px;
    left: 1421px;
    width: 22px;
    height: 53px;
    border-radius: 50%;
    transform: rotate(-1deg);
}
.frill-12 .line{
    position: absolute;
    top: -16px;
    left: 11px;
    width: 18px;
    height: 112px;
    border-width: 4px;
    transform: rotate(-6deg);
}

/*フリル 13*/
.frill-13{
    position: absolute;
    top: 829px;
    left: 1309px;
    width: 41px;
    height: 312px;
    border-radius: 50%;
    transform: rotate(43deg);
}
.frill-13 .line{
    position: absolute;
    top: -119px;
    left: -39px;
    width: 65px;
    height: 409px;
    border-width: 4px;
    transform: rotate(-3deg);
}

/*フリル 14*/
.frill-14{
    position: absolute;
    top: 1080px;
    left: 1215px;
    width: 53px;
    height: 38px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.frill-14 .line{
    position: absolute;
    top: -83px;
    left: -53px;
    width: 73px;
    height: 206px;
    border-width: 4px;
    transform: rotate(-33deg);
}

/*フリル 15*/
.frill-15{
    position: absolute;
    top: 977px;
    left: 1282px;
    width: 23px;
    height: 56px;
    border-radius: 50%;
    transform: rotate(-70deg);
}
.frill-15 .line{
    position: absolute;
    top: -57px;
    left: 10px;
    width: 99px;
    height: 175px;
    border-width: 4px;
    transform: rotate(12deg);
}

/*フリル 16*/
.frill-16{
    position: absolute;
    top: 960px;
    left: 1301px;
    width: 24px;
    height: 56px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.frill-16 .line{
    position: absolute;
    top: -25px;
    left: -74px;
    width: 99px;
    height: 175px;
    border-width: 4px;
    transform: rotate(-16deg);
}

/*フリル 17*/
.frill-17{
    position: absolute;
    top: 935px;
    left: 1333px;
    width: 24px;
    height: 44px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.frill-17 .line{
    position: absolute;
    top: -77px;
    left: 16px;
    width: 74px;
    height: 175px;
    border-width: 4px;
    transform: rotate(-30deg);
}

/*フリル 18*/
.frill-18{
    position: absolute;
    top: 907px;
    left: 1353px;
    width: 24px;
    height: 48px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.frill-18 .line{
    position: absolute;
    top: -66px;
    left: -68px;
    width: 74px;
    height: 175px;
    border-width: 4px;
    transform: rotate(-11deg);
}

/*フリル 19*/
.frill-19{
    position: absolute;
    top: 883px;
    left: 1369px;
    width: 24px;
    height: 48px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.frill-19 .line{
    position: absolute;
    top: -78px;
    left: 15px;
    width: 74px;
    height: 175px;
    border-width: 4px;
    transform: rotate(-31deg);
}

/*フリル 20*/
.frill-20{
    position: absolute;
    top: 852px;
    left: 1399px;
    width: 24px;
    height: 53px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.frill-20 .line{
    position: absolute;
    top: -59px;
    left: -61px;
    width: 64px;
    height: 175px;
    border-width: 4px;
    transform: rotate(-9deg);
}

/*フリル 21*/
.frill-21{
    position: absolute;
    top: 1109px;
    left: 1250px;
    width: 59px;
    height: 19px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.frill-21 .line{
    position: absolute;
    top: -18px;
    left: -4px;
    width: 149px;
    height: 33px;
    border-width: 5px;
    transform: rotate(3deg);
}

/*フリル 22*/
.frill-22{
    position: absolute;
    top: 1103px;
    left: 1233px;
    width: 17px;
    height: 25px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.frill-22 .line{
    position: absolute;
    top: -14px;
    left: 4px;
    width: 9px;
    height: 73px;
    border-width: 4px;
    transform: rotate(25deg);
}

/*フリル 23*/
.frill-23{
    position: absolute;
    top: 859px;
    left: 1434px;
    width: 14px;
    height: 19px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.frill-23 .line{
    position: absolute;
    top: 15px;
    left: -44px;
    width: 105px;
    height: 5px;
    border-width: 4px;
    transform: rotate(35deg);
}

/*フリル 24*/
.frill-24{
    position: absolute;
    top: 805px;
    left: 1438px;
    width: 20px;
    height: 190px;
    border-radius: 50%;
    transform: rotate(5deg);
}
.frill-24 .line{
    position: absolute;
    top: -28px;
    left: 4px;
    width: 67px;
    height: 239px;
    border-width: 4px;
    transform: rotate(-4deg);
}

/*フリル 25*/
.frill-25{
    position: absolute;
    top: 683px;
    left: 1440px;
    width: 39px;
    height: 204px;
    border-radius: 50%;
    transform: rotate(-3deg);
}
.frill-25 .line{
    position: absolute;
    top: -28px;
    left: 12px;
    width: 119px;
    height: 235px;
    border-width: 4px;
    transform: rotate(-4deg);
}

/*フリル 26*/
.frill-26{
    position: absolute;
    top: 661px;
    left: 1461px;
    width: 34px;
    height: 66px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.frill-26 .line{
    position: absolute;
    top: -7px;
    left: 0px;
    width: 119px;
    height: 66px;
    border-width: 4px;
    transform: rotate(-4deg);
}

/*フリル 27*/
.frill-27{
    position: absolute;
    top: 793px;
    left: 1502px;
    width: 53px;
    height: 193px;
    border-radius: 50%;
    transform: rotate(-3deg);
}
.frill-27 .line{
    position: absolute;
    top: -53px;
    left: 8px;
    width: 119px;
    height: 217px;
    border-width: 4px;
    transform: rotate(-9deg);
}

/*フリル 28*/
.frill-28{
    position: absolute;
    top: 848px;
    left: 1547px;
    width: 35px;
    height: 193px;
    border-radius: 50%;
    transform: rotate(-11deg);
}
.frill-28 .line{
    position: absolute;
    top: -19px;
    left: 3px;
    width: 134px;
    height: 217px;
    border-width: 4px;
    transform: rotate(0deg);
}

/*フリル 29*/
.frill-29{
    position: absolute;
    top: 950px;
    left: 1581px;
    width: 43px;
    height: 135px;
    border-radius: 50%;
    transform: rotate(-19deg);
}
.frill-29 .line{
    position: absolute;
    top: -33px;
    left: 6px;
    width: 134px;
    height: 189px;
    border-width: 4px;
    transform: rotate(0deg);
}

/*フリル 30*/
.frill-30{
    position: absolute;
    top: 1068px;
    left: 1612px;
    width: 92px;
    height: 60px;
    border-radius: 50%;
    transform: rotate(0deg);
}
.frill-30 .line{
    position: absolute;
    top: -97px;
    left: 16px;
    width: 134px;
    height: 189px;
    border-width: 4px;
    transform: rotate(-28deg);
}

/*フリル 31*/
.frill-31{
    position: absolute;
    top: 757px;
    left: 1511px;
    width: 20px;
    height: 36px;
    border-radius: 50%;
    transform: rotate(-25deg);
}
.frill-31 .line{
    position: absolute;
    top: -16px;
    left: 2px;
    width: 76px;
    height: 45px;
    border-width: 4px;
    transform: rotate(-14deg);
}

/*フリル 32*/
.frill-32{
    position: absolute;
    top: 748px;
    left: 1520px;
    width: 20px;
    height: 81px;
    border-radius: 50%;
    transform: rotate(-22deg);
}
.frill-32 .line{
    position: absolute;
    top: -55px;
    left: 11px;
    width: 38px;
    height: 179px;
    border-width: 4px;
    transform: rotate(-7deg);
}

/*フリル 33*/
.frill-33{
    position: absolute;
    top: 841px;
    left: 1553px;
    width: 23px;
    height: 81px;
    border-radius: 50%;
    transform: rotate(-22deg);
}
.frill-33 .line{
    position: absolute;
    top: 7px;
    left: 9px;
    width: 38px;
    height: 28px;
    border-width: 4px;
    transform: rotate(-7deg);
}

/*フリル 34*/
.frill-34{
    position: absolute;
    top: 1013px;
    left: 1625px;
    width: 31px;
    height: 53px;
    border-radius: 50%;
    transform: rotate(20deg);
}
.frill-34 .line{
    position: absolute;
    top: 3px;
    left: -10px;
    width: 93px;
    height: 42px;
    border-width: 4px;
    transform: rotate(89deg);
}

/*フリル 35*/
.frill-35{
    position: absolute;
    top: 1051px;
    left: 1666px;
    width: 19px;
    height: 31px;
    border-radius: 50%;
    transform: rotate(77deg);
}
.frill-35 .line{
    position: absolute;
    top: 0px;
    left: -61px;
    width: 93px;
    height: 42px;
    border-width: 4px;
    transform: rotate(89deg);
}

/*フリル 36*/
.frill-36{
    position: absolute;
    top: 1034px;
    left: 1303px;
    width: 19px;
    height: 93px;
    border-radius: 50%;
    transform: rotate(-29deg);
}
.frill-36 .line{
    position: absolute;
    top: -45px;
    left: -56px;
    width: 61px;
    height: 206px;
    border-width: 4px;
    transform: rotate(4deg);
}